<div style="z-index: 1; position: absolute; width: 100%;" class="content">
  <div>
    <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
  </div>
  <div style="width: 100%;" class="my-2 centerize">
    <div style="width: 100%;">
      <p-table #dt1 [value]="products"
               [paginator]="true"
               [rows]="5"
               [showCurrentPageReport]="true"
               [tableStyle]="{ 'max-width': '100rem', 'border-radius': '1em', 'font-size': '2vw'  }"
               currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
               [rowsPerPageOptions]="[5,10,20,{showAll:'All'}]"
               [scrollable]="true" scrollHeight="450px"
               [loading]="loading"
               [globalFilterFields]="['productName', 'metal', 'measurement', 'weight', 'supplierName']">
        <ng-template pTemplate="caption">
          <div class="mt-1 grid gap-1" style="align-items: center;">
            <div style="max-width: 400px; align-self: center; padding-left: 2vw;">
              <h1 style="font-size: 2.2vw" class="m-0">PRECIOUS METAL PRODUCT LIST</h1>
            </div>
            <div class="pl-5 flex">
              <span style="font-size: 1.5vw; width: auto; position: relative; padding-left: 1vw;" class="p-input-icon-right ml-auto">
                <!--<i class="pi pi-search"></i>-->
                <input style="padding: 1vw; font-size: 1.3vw;" pInputText type="text" (input)="search(dt1, $event)" placeholder="Search keyword" />
              </span>
            </div>
            <button (click)="clickFilter()" pButton pRipple type="button" class="mx-3 p-button-rounded p-button-text">
              <i *ngIf="onFilter" class="pi pi-filter-fill" style="font-size: 2vw"></i>
              <i *ngIf="!onFilter" class="pi pi-filter" style="font-size: 2vw"></i>
            </button> <!--pi-filter-fill-->
            <button style=" font-size: 1.5vw;" routerLink="/pmetal/supplier" pButton pRipple type="button" label="Supplier List" class="p-button-secondary p-button-text"></button>
            <p-button  [style]="{'padding': '1vw'}"  class="mx-4" label="Add" (click)="openModal2(false)"></p-button>
            <button pButton pRipple class="p-button-secondary  p-button-text" (click)="clear(dt1)">
              <i class="pi pi-refresh" style="font-size: 2vw"></i>
            </button>
            <!--<div style="align-self: center; padding-left: 2vw;" class="grid gap-1 align-items-center"></div>-->
          </div>
          <div *ngIf="onFilter" class="grid gap-1" style="margin-top: 1em;">
            <p-columnFilter  [style]="{'padding': '0'}" field="metal" matchMode="in" [showMenu]="false">
              <ng-template  [style]="{'padding': '0'}" pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect [style]="{'padding': '0','font-size': '1.5vw'}" [ngModel]="selectedMetals" [options]="metals" placeholder="Select Metal" (onChange)="filter($event.value)" display="chip" [showClear]="true"></p-multiSelect>
              </ng-template>
            </p-columnFilter>

            <p-columnFilter [style]="{'padding': '0'}" field="measurement" matchMode="in" [showMenu]="false">
              <ng-template [style]="{'padding': '0'}" pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect [style]="{'padding': '0','font-size': '1.5vw'}" [options]="units" [(ngModel)]="selectedUnits" placeholder="Select Unit" (onChange)="filter($event.value)" display="chip" [showClear]="true"></p-multiSelect>
              </ng-template>
            </p-columnFilter>

            <p-columnFilter [style]="{'padding': '0'}" field="category" matchMode="in" [showMenu]="false">
              <ng-template  [style]="{'padding': '0'}" pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect [style]="{'padding': '0','font-size': '1.5vw'}" [options]="category" [(ngModel)]="selectedCategory" placeholder="Select Category" (onChange)="filter($event.value)" display="chip" [showClear]="true"></p-multiSelect>
              </ng-template>
            </p-columnFilter>

            <p-columnFilter  [style]="{'padding': '0'}" field="supplierName" matchMode="in" [showMenu]="false">
              <ng-template  [style]="{'padding': '0'}" pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect [style]="{'padding': '0','font-size': '1.5vw'}" [options]="suppliers" [(ngModel)]="selectedSuppliers" placeholder="Select Supplier" (onChange)="filter($event.value)" display="chip" [showClear]="true"></p-multiSelect>
              </ng-template>
            </p-columnFilter>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: auto;" >Action </th>
            <th pSortableColumn="productName">
              <div class="flex" style="min-width: 400px;">
                <span>Name</span>
                <span><p-sortIcon field="productName"></p-sortIcon></span>
              </div>
            </th>
            <th pSortableColumn="weight">
              <div class="flex">
                <span>Weight</span>
                <span><p-sortIcon field="weight"></p-sortIcon></span>
              </div>
            </th>
            <th pSortableColumn="metal">
              <div class="flex">
                <span>Metal</span>
                <span><p-sortIcon field="metal"></p-sortIcon></span>
              </div>
            </th>
            <th pSortableColumn="category">
              <div class="flex">
                <span>Category</span>
                <span><p-sortIcon field="category"></p-sortIcon></span>
              </div>
            </th>
            <th pSortableColumn="price with premium">
              <div class="flex">
                <span>Price</span>
                <span><p-sortIcon field="price with premium"></p-sortIcon></span>
              </div>
            </th>
            <th pSortableColumn="premium">
              <div class="flex">
                <span>Premium</span>
                <span><p-sortIcon field="premium"></p-sortIcon></span>
              </div>
            </th>
            <th pSortableColumn="quantity" style="min-width: auto;">
              <div class="flex">
                <span>Quantity</span>
                <span><p-sortIcon field="quantity"></p-sortIcon></span>
              </div>
            </th>
            <th pSortableColumn="supplier" style="min-width: 200px;">
              <div class="flex">
                <span>Supplier</span>
                <span><p-sortIcon field="supplier"></p-sortIcon></span>
              </div>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td style="width: 0.75vw; padding: 1vw">
              <div class="flex m-0">
                <button *ngIf="!product.delete" pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-secondary p-button-text" (click)="editProduct(product)"></button>
                <button *ngIf="product.delete" pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded p-button-text" (click)="deleteProduct(product.productID)"></button> <!--(click)="proceedremoveImage(image.link)"-->
                <button *ngIf="product.delete" pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text" (click)="cancelDeleteProduct(product.productID)"></button> <!--(click)="cancelRemoveImage(image.link)"-->
                <button [ngClass]="{'p-button-text': !product.delete}" pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-plain" (click)="confirmDelete(product.productID)"></button>  <!--(click)="removeImage(image.link)"-->
              </div>
            </td>
            <td><a routerLink="/pmetal/inventory/{{product.productID}}">{{ product.productName }}</a></td>
            <td>{{ product.weight }} {{ product.measurement }}</td>
            <td>{{ product.metal }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.price_with_premium}}</td>
            <td>{{ product.premium}}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.supplierName }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
          <p-button type="button" icon="pi pi-plus" styleClass="p-button-text" (click)="openModal2(false)"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
          <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text" (click)="loadProducts()"></p-button>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="9">No product found.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<app-create-or-edit-product-modal style="z-index: 2;" *ngIf="modalOpened2 == true" [createProduct]="createProduct" [editProduct]="productToEdit" (closeModal)="closeModal()" (updateTable)="loadProducts()"></app-create-or-edit-product-modal>
