<div style="z-index: 1; position: absolute; width: 100%;" class="content">
  <div>
    <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
  </div>
  <div style="width: 100%;" class="my-2 centerize">
    <div style="width: 100%;">
      <p-table #dt1 [value]="instruments"
               [paginator]="true"
               [rows]="5"
               [showCurrentPageReport]="true"
               [tableStyle]="{ 'min-width': '25rem', 'border-radius': '1em', 'font-size': '1.5vw' }"
               currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
               [rowsPerPageOptions]="[5,10,20,{showAll:'All'}]"
               [scrollable]="true" scrollHeight="450px"
               [loading]="loading"
               [globalFilterFields]="['instrumentName', 'supplierName', 'brand']">
        <ng-template pTemplate="caption">
          <div style="font-size: 1.5vw; width: auto; position:relative;" class="mt-1 grid gap-2">
            <div style="align-self: center; padding-left: 2vw;">
              <h2 style="font-size: 2.2vw"  class="m-0">MUSICAL INSTRUMENT LIST</h2>
            </div>
            <div class="flex gap-2 align-items-center">
              <div class="flex">
                <span style="font-size: 1.5vw; width: auto; position: relative; padding-left: 2vw;" class="p-input-icon-right ml-auto">
                  <!--<i style="font-size: 1.5vw;" class="pi pi-search"></i>-->
                  <input style="padding: 1vw; font-size: 1.3vw;" pInputText type="text" (input)="search(dt1, $event)" placeholder="Search keyword" />
                </span>
              </div>
              <button (click)="clickFilter()" pButton pRipple type="button" class="mx-3 p-button-rounded p-button-text">
                <i *ngIf="onFilter" class="pi pi-filter-fill" style="font-size: 2vw"></i>
                <i *ngIf="!onFilter" class="pi pi-filter" style="font-size: 2vw"></i>
              </button>
              <button style=" font-size: 1.5vw;" routerLink="/minstrument/supplier" pButton pRipple type="button" label="Supplier List" class="p-button-secondary p-button-text"></button>
              <button pButton pRipple class="p-button-secondary p-button-text" (click)="clear(dt1)">
                <i class="pi pi-refresh" style="font-size: 2vw"></i>
              </button>
            </div>
          </div>
          <div *ngIf="onFilter" class="flex gap-2" style="margin-top: 1em;">
            <p-columnFilter [style]="{'padding': '0'}" field="supplierName" matchMode="in" [showMenu]="false">
              <ng-template [style]="{'padding': '0'}" pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect [style]="{'padding': '0','font-size': '1.5vw'}" [options]="suppliers" [(ngModel)]="selectedSuppliers" placeholder="Select Supplier" (onChange)="filter($event.value)" display="chip" [showClear]="true"></p-multiSelect>
              </ng-template>
            </p-columnFilter>
            <p-columnFilter [style]="{'padding': '0'}" field="brand" matchMode="in" [showMenu]="false">
              <ng-template [style]="{'padding': '0'}" pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect [style]="{'padding': '0','font-size': '1.5vw'}" [options]="brands" [(ngModel)]="selectedBrands" placeholder="Select Brand" (onChange)="filter($event.value)" display="chip" [showClear]="true"></p-multiSelect>
              </ng-template>
            </p-columnFilter>
          </div>
        </ng-template>
        <ng-template pTemplate="body" let-instrument>
          <tr>
            <!--style="background-color: transparent !important;"-->
            <td>
              <!--style="background-color: transparent !important; border: 1px solid transparent !important"-->
              <div class="grid gap-2">
                <div style="width: 30%">
                  <div class="image-container">
                    <img id="instrumentImage" src="{{instrument.imageLink}}" alt="Instrument Image">
                  </div>
                </div>
                <div style="width: auto" class="flex flex-column">
                  <div class="flex gap-3 " style="align-items: center; width:fit-content">
                    <a routerLink="/minstrument/inventory/{{instrument.instrumentID}}">{{instrument.instrumentName}}</a>
                  </div>
                  <div>
                    brand : {{instrument.brand}}
                  </div>
                  <div>
                    supplier : {{instrument.supplierName}}
                  </div>
                  <div>
                    variation : {{instrument.variation}}
                  </div>
                  <div>
                    price : RM {{instrument.price}}
                  </div>
                  <div class="flex m-0">
                    <button *ngIf="!instrument.delete" pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-secondary p-button-text" routerLink="/minstrument/inventory//{{instrument.instrumentID}}"></button> <!--(click)="editInstrument(instrument)"-->
                    <button *ngIf="instrument.delete" pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded p-button-text" (click)="deleteInstrument(instrument.instrumentID)"></button>
                    <button *ngIf="instrument.delete" pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text" (click)="cancelDeleteInstrument(instrument.instrumentID)"></button>
                    <button [ngClass]="{'p-button-text': !instrument.delete}" pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-plain" (click)="confirmDelete(instrument.instrumentID)"></button>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
          <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button> <!--(click)="openModal2(false)"-->
        </ng-template>
        <ng-template pTemplate="paginatorright">
          <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text" (click)="loadInstruments()"></p-button>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="9">No product found.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<!--<app-create-or-edit-product-modal style="z-index: 2;" *ngIf="modalOpened2 == true" [createProduct]="createProduct" [editProduct]="productToEdit" (closeModal)="closeModal()" (updateTable)="loadInstruments()"></app-create-or-edit-product-modal>-->
