<div class="px-4 py-5 md:px-6 lg:px-8">
  <div style="height: 12vh; width: 100%"></div>
  <div style=" margin-top: 1em;">
    <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
  </div>
  <div style="width: 100%;" class="my-2 flex">
    <div style="width: auto" class="flex card">
      <div class="card">
        <p-toast></p-toast>
        <p-table #dt1 [value]="suppliers"
                 dataKey="id"
                 editMode="row"
                 [tableStyle]="{'width': '100%'}"
                 [paginator]="true"
                 [rows]="5"
                 [showCurrentPageReport]="true"
                 currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                 [rowsPerPageOptions]="[5,10,20,{showAll:'All'}]"
                 [globalFilterFields]="['supplierName', 'supplierID', 'address']"
                 [scrollable]="true" scrollHeight="450px">
          <ng-template pTemplate="caption">
            <div class="flex gap-2">
              <div style="width: -webkit-fill-available; align-self: center; ">
                <h2 style="margin: 0; align-self: center;">PRECIOUS METAL SUPPLIER LIST</h2>
              </div>
              <div>
                <span class="p-input-icon-left ml-auto">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" (input)="search(dt1, $event)" placeholder="Search keyword" />
                </span>
              </div>
              <div style=" justify-content: end; " class="flex">
                <button pButton pRipple icon="pi pi-refresh" class="p-button-secondary" (click)="loadSuppliers()"></button>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="supplierID">
                <div class="flex">
                  <span>ID</span>
                  <span><p-sortIcon field="supplierID"></p-sortIcon></span>
                </div>
              </th>
              <th pSortableColumn="supplierName">
                <div class="flex">
                  <span>Name</span>
                  <span><p-sortIcon field="supplierName"></p-sortIcon></span>
                </div>
              </th>
              <th pSortableColumn="address">
                <div class="flex">
                  <span>Address</span>
                  <span><p-sortIcon field="address"></p-sortIcon></span>
                </div>
              </th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-supplier let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="editing">
              <td *ngIf="!supplier.editing || delete">
                {{supplier.supplierID}}
              </td>
              <td *ngIf="!supplier.editing || delete">
                <a routerLink="/pmetal/supplier/{{supplier.supplierID}}">{{supplier.supplierName}}</a>
              </td>
              <td *ngIf="!supplier.editing || delete">
                {{supplier.address}}
              </td>
              <td *ngIf="supplier.editing && !delete">
                <input disabled pInputText type="text" [(ngModel)]="supplier.supplierID">
              </td>
              <td *ngIf="supplier.editing && !delete">
                <input pInputText type="text" [(ngModel)]="supplier.supplierName">
              </td>
              <td *ngIf="supplier.editing && !delete">
                <input pInputText type="text" [(ngModel)]="supplier.address">
              </td>
              <td>
                <div class="flex align-items-center justify-content-center gap-2">
                  <button *ngIf="!supplier.editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(supplier)" class="p-button-rounded p-button-text"></button>
                  <button *ngIf="supplier.editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(supplier)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                  <button *ngIf="supplier.editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(supplier)" class="p-button-rounded p-button-text p-button-danger"></button>

                  <button *ngIf="!supplier.editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-trash" (click)="onRowDeleteInit(supplier)" class="p-button-rounded p-button-text"></button>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>

    <div style="height: 100%; width: auto; padding-left: 2em;">
      <div class="card" style="min-height: 20vh; width: 100%; background-color:white;">
        <div class="py-7 px-5">
          <div class="flex my-3">
            <h3>
              CREATE NEW SUPPLIER
            </h3>
          </div>
          <span class="p-float-label flex gap-2">
            <input pInputText id="username" [(ngModel)]="newSupplierName" />
            <label for="username">Enter Supplier Name</label>
            <button *ngIf="!creating" pButton pRipple type="button" label="Add" icon="pi pi-plus" class="p-button-outlined p-button-success" (click)="supplierButtonClick()"></button>
            <button *ngIf="creating" pButton pRipple type="button" icon="pi pi-check" (click)="saveSupplier()" class="p-button-rounded p-button-text p-button-success mr-2"></button>
            <button *ngIf="creating" pButton pRipple type="button" icon="pi pi-times" (click)="supplierButtonClick()" class="p-button-rounded p-button-text p-button-danger"></button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>


