@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

.storeSelectorContainer {
  width: 100%;
  column-gap: 10%;
  row-gap: 10vw;
  height: auto;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.centerize {
  display: flex;
  align-content: center;
  justify-content: center;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 40vh;
  --card-width: calc(var(--card-height) / 1.5);
}

.card-1 {
  background-image: url(src/assets/music background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.card-2 {
  background-image: url(src/assets/gold and silver background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.card-custom {
  /* background: #191c29; */
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
}

  .card-custom:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 1s;
  }

    .card-custom:hover:before, .card-custom:hover:after {
      animation: none;
      opacity: 0;
    }


  .card-custom::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient( var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
  }

  .card-custom::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient( var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }

@keyframes spin {
  0% {
    --rotate: 0deg;
  }

  100% {
    --rotate: 360deg;
  }
}

a {
  color: #212534;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  background-image: url(src/assets/background wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -270px;
  background-attachment: fixed;
}

  body::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.brand-logo {
  height: 3vw;
  width: auto;
  margin: 0vw 1.5vw;
  filter: invert(1);
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item {
  margin: 0 !important;
  padding: 0.75vw 1.25vw !important;
  border: 0 none !important;
  color: #495057 !important;
  background: transparent !important;
  transition: box-shadow 0.2s !important;
  border-radius: 0 !important;
}

.p-multiselect-panel .p-multiselect-header {
  padding: 0.75vw 1.25vw !important;
  border-bottom: 1px solid #dee2e6;
  color: #343a40;
  background: #f8f9fa;
  margin: 0;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.p-component * {
  font-size: 1.5vw;
}

header {
  display: flex;
  align-items: center;
  height: auto;
  height: 8vh;
}

  header div div h2 {
    font-size: 2.5vh;
    margin: 0;
    color: antiquewhite;
  }

/*class =" px-4 py-5 md:px-6 lg:px-8"*/
.content {
    padding: 1.5vw 1.5vw;
}

.home-title {
  color: #00fff3;
  margin-bottom: 1vw;
  font-size: 8vw;
}

.home-title-desc {
  color: cyan;
  line-height: 4vw;
  font-size: 3.5vw;
}

@media only screen and (max-device-width: 1080px) {
  body {
    background-image: url(src/assets/background wallpaper.jpg);
    background-position: center;
    background-repeat: no-repeat; /* optional: prevents repeating the background */
    background-size: cover; /* optional: ensures the background covers the entire viewport */
    /*font-size: 2vw;*/
  }

  .brand-logo {
    height: 8vw;
    width: auto;
    margin: 0vw 1.5vw;
    filter: invert(1);
  }
}

@media only screen and (min-device-width: 100px) {
  body {
    background-image: url(src/assets/background wallpaper.jpg);
    background-position: center;
    background-repeat: no-repeat;
  }
}
